<div class="container">
  <div class="libro-list" *ngIf="libros else loading">
    <h3>Listado de libros</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Author</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libroItem of libros">
          <!-- llaves dobles: leer variable desde el componente -->
          <th scope="row">{{libroItem.id}}</th>
          <td>{{libroItem.name}}</td>
          <td>{{libroItem.author}}</td>
          <td>
            <button (click)="showDetail(libroItem)" class="btn btn-info mr-3">Edit</button>
            <button (click)="delete(libroItem)" class="btn btn-danger mr-3">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
  <!--libro es el nombre que va a recibir libro-detail, es igual al nombre que tengo en input y
    en applibrodetail tiene que estar ese libro no libroSelected-->
    <!--los eventos estan entre parentesis y las propiedades/atributos entre corchetes-->
  <app-libro-detail [libro]= "libroSelected" (save)="onGuardar($event)"></app-libro-detail>
</div>